<!doctype html>
html
  head
    meta(charset="utf-8")
    link(rel='stylesheet' href='./css/normalize.css')
    link(rel='stylesheet' href='./css/style.css')
    meta(name="author" content="Dmitry G")
    title Счётчик для любой задачи
    meta(name="description" content="Счётчик настраеваемый под любую задачу. Добавляйте новые элементы подсчёта, прибавляйте и отнимайте поступающие данные, формируйте автоматические отчёты и делитесь ими с коллегами.")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='./js/lStorage.js')
  body
    div.body-wrap
      
      h1.main-title(contenteditable="true") Введите название счетчика
      
      div.box-control
        span.total-text Всего
        span.total-num 0
        button.clear-all 🗑
      
      div.box-clear-all.hidden
        span.clear-text Стереть все данные?
          button.clear-yes Да
          button.clear-no Нет
      
      div.box-content
      
      button#newString Добавить
    
    script(src='./js/script.js')
