$color-dark: #3D3D3D;
$color-gray: #A6ABAB;
$color-white: #F2F2F2;

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
$font: 'Arimo', sans-serif;

$font-size-s: 100%;
$font-size-m: 125%;
$font-size-l: 150%;

$mobile: 560px;
$tablet: 765px;
$laptop: 1024px;
$wscreen: 1400px;

body {
  background-color: $color-dark;
  color: $color-white;
  font-size: 16px;
  font-family: $font;
}

h1 {
  font-size: $font-size-l;
}

span, h3 {
  @media (min-width: $wscreen) {
    font-size: $font-size-l;
  }
  font-size: $font-size-m;
}

button {
  background-color: $color-gray;
  color: $color-dark;
  font-weight: bold;
  border-radius: 4px;
  font-size: $font-size-m;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  &.header {
    @media (max-width: $mobile) {
      width: 95vw;
      }
    width: 60vw;
    & > .question {
      width: 100%;
      text-align: center;
    }
  }
  &.main {
    @media (max-width: $tablet) {
      width: 95vw;
      display: flex;
      flex-direction: column;
    }
    width: 60vw;
    position: relative;
    margin-top: 30px;
  }
}

.sum {
  @media (max-width: $mobile) {
    position: relative;
    display: inline;
    text-align: center;
    margin-bottom: 15px;
    left: 0px;
  }
  @media (min-width: $mobile) and (max-width: $tablet) {
    left: 85%;
  }
  font-size: $font-size-m;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 105%;
  font-weight: bold;
  &-title {
    @media (max-width: $mobile) {
      margin-right: 15px;
    }
  }
}

.content {
  width: 100%;
}

.item {
  @media (max-width: $mobile) {
  margin-bottom: 20px;
  }
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.item > .question {
  @media (max-width: $mobile) {
    max-width: 70vw;
    margin-left: 15px;
  }
  @media (min-width: $mobile) and (max-width: $tablet) {
    max-width: 55vw;
    margin-left: 30px;
  }
  flex: 0 1 75%;
  max-width: 45vw;
  font-weight: 100;
  font-size: $font-size-m;
}

.control {
  @media (max-width: $mobile) {
    min-width: 27vw;
  }
  font-size: $font-size-s;
  flex: 0 1 20%;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.btn {
  @media (max-width: $mobile) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  width: 32px;
  height: 32px;
  margin-right: 10px;
  font-size: $font-size-s;
}

#newString {
  margin: 20px auto;
  height: 30px;
  font-size: $font-size-s;
}
