$color-dark: #3D3D3D;
$color-gray: #A6ABAB;
$color-white: #F2F2F2;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;

$font-size-s: 16px;
$font-size-m: 24px;
$font-size-l: 32px;

* {
  font-family: $font;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-dark;
  color: $color-white;
}

h1 {
  font-size: $font-size-l;
}

span, h3 {
  font-size: $font-size-m;
}

button {
  background-color: $color-gray;
  color: $color-dark;
  font-weight: bold;
  border-radius: 4px;
  &:active,
  &:hover,
  &:focus {
    border: 1px solid $color-dark;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  &.header {
    flex-direction: row;
    position: relative;
    width: 60vw;
    & > .question {
      width: 100%;
      text-align: center;
    }
  }
  &.main {
    width: 60vw;
    position: relative;
    margin-top: 30px;
  }
}

.edit {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -30px;
}

.sum, {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 100%;
  font-weight: bold;
}

.content {
  width: 100%;
}

.item {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.item > .question {
  flex: 0 1 75%;
  font-weight: 100;
}

.control {
  flex: 0 1 20%;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.btn {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

#newString {
  margin-top: 15px;
  height: 25px;
  width: 100px;
  font-size: $font-size-s;
}
