@import "icon.scss";
@import "normalize.scss";

$col-dark: #2F3137;
$col-white: #FBFBFB;
$col-blue: #21A3B8;
$col-dark-op: rgba(47, 49, 55, 0.95);
$col-none: rgba(47, 49, 55, 0);

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
$font: 'PT Sans', sans-serif;

$btn-hover-shadow:  -1px 1px 20px #2EE2FF,
                    1px -1px 20px #2EE2FF,
                    3px -3px 10px rgba(46,226,255,0.5),
                    -3px 3px 10px rgba(46,226,255,0.5),
                    -6px 6px 20px rgba(46,226,255,0.25),
                    6px -6px 20px rgba(46,226,255,0.25);

$mob: 414px;
$tab: 768px;
$des: 1366px;

$font-s: 100%;
$font-m: 125%;
$font-l: 150%;

$mar-top: 20px;

body {
  background-color: $col-dark;
  color: $col-white;
  font-family: $font;
  justify-content: center;
  align-items: flex-start;
  @media (min-width: $tab) {
    font-size: $font-m;
  }
  @media (min-width: $des) {
    font-size: $font-l;
  }
}

a {
  text-decoration: none;
  color: $col-blue;
  &:hover{
    outline: none;
    border: none;
    text-shadow: $btn-hover-shadow;
    color: $col-white;
  }
}

button {
  background-color: $col-none;
  border: none;
  color: $col-blue;
  width: 35px;
  height: 35px;

  &:focus, &:hover {
    outline: none;
    border: none;
    text-shadow: $btn-hover-shadow;
    color: $col-white;
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.body-wrap {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tab) {
    max-width: 70vw;
    margin-top: $mar-top;
  }
  @media (min-width: $des) {
    max-width: 50vw;
    margin-top: 8vw;
  }
}

.main-title {
  text-align: center;
  font-size: $font-l;
}

.box-control {
  width: 100%;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tab) {
    margin-top: $mar-top;
  }
}

.total {
  font-size: $font-m;
}

.total-num {
  margin-left: 2vw;
  @media (min-width: $tab) {
    margin-left: $mar-top;
  }
}

.control {
  width: 150px;
  font-size: $font-m;
  justify-content: space-between;
  @media (min-width: $tab) {
    margin-top: $mar-top;
  }
}

.box-content {
  margin-top: $mar-top;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.string {
  width: calc(100vw - 30px);
  margin-left: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: $font-s;
  @media (min-width: $tab) {
    width: 100%;
    margin-top: 5px;
  }
}

.text {
  flex: 1 1 80%;
  overflow: hidden;
  white-space: nowrap;
}

.number {
  flex: 0 1 20%;
  text-align: center;
}

.plusminus {
  flex: 0 1 auto;
  margin: 0 5px;
}

.del-string  {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $col-dark-op;
}

.del-string__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.del-string__text {
  margin: 0 30px;
}

.delete-string {
  position: absolute;
  left: -35px;
  @media (min-width: $des) {
    left: -50px;
  }
}

.yes, .no {
  width: 50px;
}

.box-clear {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $col-dark-op;
}



.box-wrap {
  height: 50%;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  @media (min-width: $tab) {
    height: 70%;
  }
}

.clear-yes, .clear-no {
  margin: 0 20px;
}

.report-wrap {
  position: relative;
  max-width: 95vw;
  margin: $mar-top auto;
  flex-direction: column;
  align-items: center;
  @media (min-width: $mob) {
    max-width: 80vw;
    margin-top: 8vw;
  }
  @media (min-width: $tab) {
    max-width: 60vw;
    margin-top: 8vw;
  }
  @media (min-width: $des) {
    max-width: 40vw;
    margin-top: 8vw;
  }
}

.report-buttons {
  margin-top: $mar-top;
}

.closeReport {
  position: absolute;
  right: 0;
  top: 0;
}

#newString {
  margin-top: $mar-top;
  font-size: 200%;;
}
